@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* 기본 레이아웃 styling */
header {
  background-color: bisque;
  width: 100%;
  height: 130px;
}

main {
  background-color: blue;
  width: 100%;
  display: flex;
}

aside {
  flex-basis: 10%;
}

footer {
  background-color: yellow;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}

/* header styling */
.header-top {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.header-top-logo {
  padding: 10px;
  width: 70px;
}

.header-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top-right-search {
  background-color: red;
  display: flex;
  align-items: center;
  margin: 10px;
  padding-left: 10px;
  width: 300px;
  height: 40px;
  font-size: 20px;
}

.header-top-right-search input {
  all: unset;
  border-right: 1px solid black;
  width: 270px;
}

.header-top-right-search i {
  margin-left: 5px;
}

.header-top-right-ranking button {
  all: unset;
  width: 100px;
  font-weight: 600;
  border: 1px solid black;
  background-color: cornflowerblue;
  text-align: center;
  margin-right: 2px;
}

/* aside styling */
aside {
  display: flex;
  flex-direction: column;
}

.aside-category {
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 2px;
}

.aside-category-button {
  all: unset;
  width: 49%;
  text-align: center;
  background-color: bisque;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* article styling */
.article-product-wrapper {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

.article-product {
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-product-image {
  width: 150px;
  height: 180px;
}

.article-product-name {
  font-size: 18px;
  font-weight: 600;
}

.article-product-brand {
  font-size: 14px;
  font-weight: 400;
}

.article-product-price {
  font-size: 16px;
}

.article-product-heart {}

.article-product-heart i {
  color: red;
  padding-right: 3px;
}


/* footer styling */