h1 {
    text-align: center;
    font-size: 40px;
}

.logo {
    padding: 10px;
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo-text {

form {
    display:flex;
    flex-direction: column;
    gap:20px;
}


}

.uid input,
.pw input,
.name input,

    float: right;
    text-align: center
}

.password-box {
    display: flex;
}

.password-clear {
    margin-left: -30px;
    margin-top: 15px;

    opacity: 0.5;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

body {
    height: 1024px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}