.login-form {
    width: 410;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    background-color: #FFFFFF;
    background-size: 700px 1024px;
}
.login-form h1 {
    font-size: 50px; color: #111;
    text-align: center;
    color: #111;
}
.login-form li {
    padding: 0 0 19px;
    list-style: none;
    text-align: center;
}
.login-form li input {
    font-size: 24px;
    width: 385px;
    height: 54px; 
    box-sizing: border-box;   
    background: #EEECEC;
}
.login-form h2 {
    font-size: 32px; color: #111;
    text-align: center;
}
.login-form h3 {
    font-size: 32px; color: #111;
    text-align: center;
}
.login-form button {
    width: 250px;
    height: 54px;   
    background: #545151;
    text-align: center;
    
}
.login-form img {
    width: 250px;
    height: 54px;
}
.login-form div {
    text-align: center;
    margin: 0;
    padding: 0;
}