h1 {
    font-size: 40px;
}
.join > h1 {
    text-align: center;
    padding-top: 60px;
    margin: auto 250px auto 250px;
}
.join {
    text-align: center;
    margin: auto 400px auto 400px;
    height: 900px;  
    background: #fff;
}
.uid input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.pw input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.name input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.nickname input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.email input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.address input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 245px;
    height: 30px;
}
.address button {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 50px;
    height: 35px;
    cursor: pointer;
}
.phone input {
    background-color:rgb(236, 237, 233);
    border-radius: 5px;
    width: 245px;
    height: 30px;
}
.phone button {
    border-radius: 5px;
    width: 50px;
    height: 35px;
    cursor: pointer;
}
.sign button {
    border-radius: 5px;
    width: 307px;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
}
body {
    background: #e2e2e2;
}